
$font-global: 'Montserrat', sans-serif;

$primary-color: #4D4D4D;
$secondary-color: #F7931A;

$colors: (
  index : $secondary-color,
  contact: #C65656,
  blockchain: #2398c3,
  altcoins:  #846486
);
